<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="/user/js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="/user/css/login.css">

    <script>
        const message = '[[${message}]]';
        message && alert(message);
    </script>
</head>
<body>
<div class="login-container">
    <form id="login" method="post" action="/user/login">
        <p>ID</p>
        <input class="id" name="id" type="text" placeholder="아이디">
        <p>PASSWORD</p>
        <input class="pwd" type="password" name="password" placeholder="비밀번호">
    <div>
        <input type="checkbox" class="save-id"><label>아이디 저장</label>
        <a href="/templates/user/id/findId" class="loss-id">아이디 찾기</a>
        /
        <a href="/templates/user/id/findPwd" class="loss-pwd">비밀번호 찾기</a>
    </div>
    <div>
        <input type="submit" class="btn-login" value="로그인">
    </div>
    <div>
        <button type="button" class="btn-join">회원가입</button>
    </div>
    </form>

    <img class="login-naver" src="/user/images/네이버.png">
    <img class="login-kakao" src="/user/images/카톡.png">
    <img class="login-google" src="/user/images/구글.png"/>
    <img class="login-apple" src="/user/images/애플.png">
</div>
</body>
</html>