<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">-->
<!--    <link href="/member/css/footer.css" rel="stylesheet" type="text/css">-->
<!--    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">-->
<!--    <title>footer</title>-->
<!--</head>-->
<!--<body>-->
<!--<div id="footer">-->
<!--    <div class="inner-footer">-->
<!--        <ul class="footer-menu">-->
<!--            <li>-->
<!--                <a id="footer-icon">-->
<!--                    <img src="/member/images/main_logo.png" style="width:120px; height: 15px">-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href=#>회사소개</a>|-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href=#>이용약관</a>|-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href=#>개인정보처리방침</a>|-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href=#>고객센터</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--        <p class="footer-contact">-->
<!--            <span>고객센터 : 1588-1818</span> |-->
<!--            <span>팩스 : 02-0000-0000</span> |-->
<!--            <span>문의메일 : support@travelmaker.co.kr</span> |-->
<!--            <span>평일 : 10:00 ~ 18:00 점심 : 12:30 ~ 13:30 (주말,공휴일 휴무)</span>-->
<!--            <br>-->
<!--            <span>(주)김아무개코퍼레이션</span> |-->
<!--            <span>서울특별시 종로구 인사동길 12 대일빌딩 7층, 15층</span> |-->
<!--            <span>대표이사 : 오형민</span> |-->
<!--            <span>사업자 등록번호 : 114-00-00000[사업자정보확인]</span> |-->
<!--            <span>통신판매업신고번호 : 제2023-서울종로-0704호</span> |-->
<!--            <span>개인정보보호책임자 : 김용민</span>-->
<!--            <br>-->
<!--            <span>COPYRIGHT TRAVELMAKERCORPORATION CO., LTD. ALL RIGHTS RESERVED.</span>-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->


<!--</body>-->
<!--</html>-->